:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.header-area{
  .header-right{
    .menu-icon{
      li{
        padding:10px 15px;
        cursor: pointer;
      }
      
      a.icon-link,
      div.nav-search.search-switch{
        cursor: pointer;
      }

      a.icon-link .icon,
      div.nav-search.search-switch .icon{
        color: #333;
        font-size: 20px;
      }
  
      li:hover {
        a.icon-link .icon,
        div.nav-search.search-switch .icon{
          color: #FF2020;
        }
      }
    }
  }
}


.slider-height2{
  min-height: 200px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .latest-padding{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-area {
  background-color: #f8fafc;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer-padding{
    padding-top: 50px;
    padding-bottom: 20px;
  }
}